@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RachelaClaudie';
    src: url('../public/fonts/RachelaClaudieDemoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  